<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COVID Dashboard Project3</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">

    <!--Bootstrap Grid-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>

    <script src='https://cdn.plot.ly/plotly-2.9.0.min.js'></script>

</head>

<body style="background-color: rgb(228, 242, 255); padding: 20px;">
  
<div>
<p id = "title">SARS COV2 Vaccination Tracker - National and States </p>
<br>

<div class="row">
  <div class="col-md-12 center">
    <p id="VaccSummary"> Number of Vaccine Administered </p>
    <p id="Date"> Information as of February 10th, 2022 </p>
    <br>
    <p id="TotalVacc"> All Manufacturer: 545,477,120</p>
    <p id="PfizerVacc">Pfizer: 320,648,278</p>
    <p id="ModernaVacc">Moderna: 206,059,690</p>
    <p id="JanssenVacc">Janssen: 18,283,801</p>
  </div>

  <!-- <div class="col-md-6">
    <label for="Vaccine">Choose The Vaccine types:</label>
    <select id="Vaccine Type" id="Vaccine">
    <option value="All Type">All</option>
    <option value="Pfizer">Pfizer</option>
    <option value="Moderna">Moderna</option>
    <option value="Janssen">Janssen</option>
    </select>
  </div> -->
</div>

<br>

<div class="row">
  <div class="col-md-6">
    <p id="chart_title">Covid Vaccination per 100,000 people by states by December 31, 2021</p>
    <div id="map" style="width: 600; height: 400px;"></div>
  </div>
  <div class="col-md-6">
    <p id="chart_title">Number of vaccines Administered by types by states</p>
    <div class = "center" id="stacked_bar" style="width: 600px; height: 400px;"></div>
  </div>
</div>
</div>

<br>
<div class="row">
  <div class="col-md-12">
    <p id="chart_title">Number of vaccines Administered daily over time</p>
    <div id="line"></div>
  </div>
</div>    

<script src='../static/js/plots.js'></script>  

</body>
</html>
